<div class="">
<button id="create-post">Write a new post</button>
    <div>
        {{#each posts as |post|}}
        <div class="col-md-4 col-lg-10 border border-black">
            <h3>
                {{post.title}}
            </h3>
            <p>
                {{post.content}}
            </p>
            <p class="">
                Author:
                {{post.user.username}}
            </p>
            <p>
                Posted on:
                {{ format_date post.createdAt}}
            </p>
            <button data-id="{{post.id}}" id="update-post">Update post</button>
            <button data-id="{{post.id}}" id="delete-post">Delete post</button>
        </div>
        <div>
        </div>
        {{/each}}
    </div>
</div>
</div>

</div>

<script src="js/createPost.js"></script>
<script src="js/updateDeletePost.js"></script>