<div class="">
  <div class="col-md-4 col-lg-10 border border-black rounded">
    <h3 class="p-2 bg-dark text-white">
      {{post.title}}
    </h3>
    <p class="m-2">
      {{post.content}}
    </p>
    <p class="m-2">
      Author:
      {{post.user.username}}
    </p>
    <p class="m-2">
      Posted on:
      {{ format_date post.createdAt}}
    </p>
    <hr>
    <p class="m-2">Comments:</p>
    {{#each post.comments as |comment|}}
    <div class="border border-black m-2 rounded">
      <p class="p-2">{{comment.content}}</p>
      <p class="p-2">- {{comment.user.username}} on {{format_date comment.createdAt}}</p>
    </div>
    {{/each}}
    <form id="add-comment-form" class="d-block">
      <textarea name="commentInput" id="add-comment" placeholder="Add a comment" cols="50" rows="3" class="rounded m-2 p-2"></textarea>
      <button type="submit" class="btn btn-primary m-2">Submit</button>
    </form>
  </div>
</div>

<script src="/js/addComment.js"></script>