<div class="">
  <div class="col-md-4 col-lg-10 border border-black">
    <h3>
      {{post.title}}
    </h3>
    <p>
      {{post.content}}
    </p>
    <p class="">
      Author:
      {{post.user.username}}
    </p>
    <p>
      Posted on:
      {{ format_date post.createdAt}}
    </p>
    <p>Comments:</p>
    {{#each post.comments as |comment|}}
    <div class="border border-black">
      <p>{{comment.content}}</p>
      <p>- {{comment.user.username}} on {{format_date comment.createdAt}}</p>
    </div>
    {{/each}}
    <form id="add-comment-form">
      <input type="text" id="add-comment" placeholder="Add a comment">
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<script src="/js/addComment.js"></script>